*.iml
.gradle
*/local.properties
.idea
*/build
/captures
.externalNativeBuild
.cxx
local.properties
build
captures
.gradle
.idea
bin
gen
out
*.iml
.directory
node_modules
android/mobile/release/*
ios.xcworkspace/
*/gradle.properties
local.propertise
gradle.properties
.DS_Store
.externalNativeBuild
iosApp/Pods/*
iosApp/Podfile.locks
shared/shared.podspec
iosApp/iosApp.xcworkspace
iosApp/iosApp.xcworkspace/*